@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: rgba(30, 30, 30, 0.8); */
  background-color: black;
}

p {
  color: #fff;
}

.slide-up {
  opacity: 0;
  transform: translateY(70px);
}

.slide-up.show {
  opacity: 1;
  transform: translateY(0);
}

/* Slide-left animation */
.slide-left {
  opacity: 0;
  transform: translateX(-70px);
  transition: opacity 0.5s ease, transform 0.8s ease;
}

.slide-left.slide-up {
  opacity: 1;
  transform: translateX(0);
}

/* Slide-right animation */
.slide-right {
  opacity: 0;
  transform: translateX(70px);
  transition: opacity 0.5s ease, transform 0.8s ease;
}

.slide-right.slide-up {
  opacity: 1;
  transform: translateX(0);
}

/* Slide-down animation */
.slide-down {
  opacity: 0;
  transform: translateY(-70px);
  transition: opacity 0.5s ease, transform 0.8s ease;
}

.slide-down.slide-up {
  opacity: 1;
  transform: translateY(0);
}

/* Keyframe animations */
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer base {
  button {
    @apply border-2 border-stone-300 bg-red-600 py-2 px-3 my-8 rounded-full text-white uppercase font-semibold hover:scale-110 transition-all duration-300 shadow-lg
  }
}